<?xml version="1.0" encoding="UTF-8"?>
{{! mustache template to generate a CII invoice from a JSON file with business terms }}
{{#invoice}}
<rsm:CrossIndustryInvoice xmlns:rsm="urn:un:unece:uncefact:data:standard:CrossIndustryInvoice:100"
                          xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
                          xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:100"
                          xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100">
  <rsm:ExchangedDocumentContext>
    <ram:BusinessProcessSpecifiedDocumentContextParameter>
      <ram:ID>{{BT023}}</ram:ID>
    </ram:BusinessProcessSpecifiedDocumentContextParameter>
    <ram:GuidelineSpecifiedDocumentContextParameter>
      <ram:ID>{{BT024}}</ram:ID>
    </ram:GuidelineSpecifiedDocumentContextParameter>
  </rsm:ExchangedDocumentContext>
  <rsm:ExchangedDocument>
    <ram:ID>{{BT001}}</ram:ID>
    <ram:TypeCode>{{BT003}}</ram:TypeCode>
    <ram:IssueDateTime>
      <udt:DateTimeString format="102">{{BT002_CCYYMMDD}}</udt:DateTimeString>
    </ram:IssueDateTime>
    {{#BG001}}
    <ram:IncludedNote>
      <ram:Content>{{BT022}}</ram:Content>
      <ram:SubjectCode>{{BT021}}</ram:SubjectCode>
    </ram:IncludedNote>
    {{/BG001}}
  </rsm:ExchangedDocument>
  <rsm:SupplyChainTradeTransaction>
    {{#BG025}}
    <ram:IncludedSupplyChainTradeLineItem>
      <ram:AssociatedDocumentLineDocument>
        <ram:LineID>{{BT126}}</ram:LineID>
        {{#BT127}}
        <ram:IncludedNote>
          <ram:Content>{{.}}</ram:Content>
        </ram:IncludedNote>
        {{/BT127}}
      </ram:AssociatedDocumentLineDocument>
      <ram:SpecifiedTradeProduct>
        {{#BT157}}
        <ram:GlobalID>{{.}}</ram:GlobalID>
        {{/BT157}}
        {{#BT155}}
        <ram:SellerAssignedID>{{.}}</ram:SellerAssignedID>
        {{/BT155}}
        {{#BT156}}
        <ram:BuyerAssignedID>{{.}}</ram:BuyerAssignedID>
        {{/BT156}}
        <ram:Name>{{BT153}}</ram:Name>
        {{#BT154}}
        <ram:Description>{{.}}</ram:Description>
        {{/BT154}}
        {{#BG032}}
        <ram:ApplicableProductCharacteristic>
          <ram:Description>{{BT160}}</ram:Description>
          <ram:Value>{{BT161}}</ram:Value>
        </ram:ApplicableProductCharacteristic>
        {{/BG032}}
        {{#BT158}}
        <ram:DesignatedProductClassification>
          <ram:ClassCode listID="IB" listVersionID="88">{{.}}</ram:ClassCode>
        </ram:DesignatedProductClassification>
        {{/BT158}}
        {{#BT159}}
        <ram:OriginTradeCountry>
          <ram:ID>{{.}}</ram:ID>
        </ram:OriginTradeCountry>
        {{/BT159}}
      </ram:SpecifiedTradeProduct>
      <ram:SpecifiedLineTradeAgreement>
        {{#BT132}}
        <ram:BuyerOrderReferencedDocument>
          <ram:LineID>{{.}}</ram:LineID>
        </ram:BuyerOrderReferencedDocument>
        {{/BT132}}
        <ram:GrossPriceProductTradePrice>
          {{#BT148}}
          <ram:ChargeAmount>{{.}}</ram:ChargeAmount>
          {{/BT148}}
          {{#BT149}}
          <ram:BasisQuantity {{#BT150}}unitCode="{{.}}"{{/BT150}}>{{.}}</ram:BasisQuantity>
          {{/BT149}}
          {{#BT147}}
          <ram:AppliedTradeAllowanceCharge>
            <ram:ChargeIndicator>
              <udt:Indicator>false</udt:Indicator>
            </ram:ChargeIndicator>
            <ram:ActualAmount>{{.}}</ram:ActualAmount>
          </ram:AppliedTradeAllowanceCharge>
          {{/BT147}}
        </ram:GrossPriceProductTradePrice>
        <ram:NetPriceProductTradePrice>
          <ram:ChargeAmount>{{BT146}}</ram:ChargeAmount>
        </ram:NetPriceProductTradePrice>
      </ram:SpecifiedLineTradeAgreement>
      <ram:SpecifiedLineTradeDelivery>
        <ram:BilledQuantity unitCode="{{BT130}}">{{BT129}}</ram:BilledQuantity>
      </ram:SpecifiedLineTradeDelivery>
      <ram:SpecifiedLineTradeSettlement>
        <ram:ApplicableTradeTax>
          <ram:TypeCode>VAT</ram:TypeCode>
          <ram:CategoryCode>{{BT151}}</ram:CategoryCode>
          <ram:RateApplicablePercent>{{BT152}}</ram:RateApplicablePercent>
        </ram:ApplicableTradeTax>
        <ram:BillingSpecifiedPeriod>
          {{#BT134_CCYYMMDD}}
          <ram:StartDateTime>
            <udt:DateTimeString format="102">{{.}}</udt:DateTimeString>
          </ram:StartDateTime>
          {{/BT134_CCYYMMDD}}
          {{#BT135_CCYYMMDD}}
          <ram:EndDateTime>
            <udt:DateTimeString format="102">{{.}}</udt:DateTimeString>
          </ram:EndDateTime>
          {{/BT135_CCYYMMDD}}
        </ram:BillingSpecifiedPeriod>
        {{#BG028}}
        <ram:SpecifiedTradeAllowanceCharge>
          <ram:ChargeIndicator>
            <udt:Indicator>true</udt:Indicator>
          </ram:ChargeIndicator>
          <ram:CalculationPercent>{{BT143}}</ram:CalculationPercent>
          <ram:BasisAmount>{{BT142}}</ram:BasisAmount>
          <ram:ActualAmount>{{BT141}}</ram:ActualAmount>
          <ram:ReasonCode>{{BT145}}</ram:ReasonCode>
          <ram:Reason>{{BT144}}</ram:Reason>
        </ram:SpecifiedTradeAllowanceCharge>
        {{/BG028}}
        {{#BG027}}
        <ram:SpecifiedTradeAllowanceCharge>
          <ram:ChargeIndicator>
            <udt:Indicator>false</udt:Indicator>
          </ram:ChargeIndicator>
          <ram:CalculationPercent>{{BT138}}</ram:CalculationPercent>
          <ram:BasisAmount>{{BT137}}</ram:BasisAmount>
          <ram:ActualAmount>{{BT136}}</ram:ActualAmount>
          <ram:ReasonCode>{{BT140}}</ram:ReasonCode>
          <ram:Reason>{{BT139}}</ram:Reason>
        </ram:SpecifiedTradeAllowanceCharge>
        {{/BG027}}
        {{#BT131}}
        <ram:SpecifiedTradeSettlementLineMonetarySummation>
          <ram:LineTotalAmount>{{.}}</ram:LineTotalAmount>
        </ram:SpecifiedTradeSettlementLineMonetarySummation>
        {{/BT131}}
        {{#BT128}}
        <ram:AdditionalReferencedDocument>
          <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
          <ram:TypeCode>130</ram:TypeCode>
            <!-- BT-128-1 -->
          <ram:ReferenceTypeCode>ABZ</ram:ReferenceTypeCode>
        </ram:AdditionalReferencedDocument>
        {{/BT128}}
        {{#BT133}}
        <ram:ReceivableSpecifiedTradeAccountingAccount>
          <ram:ID>{{.}}</ram:ID>
        </ram:ReceivableSpecifiedTradeAccountingAccount>
        {{/BT133}}
      </ram:SpecifiedLineTradeSettlement>
    </ram:IncludedSupplyChainTradeLineItem>
    {{/BG025}}
    <ram:ApplicableHeaderTradeAgreement>
      <ram:BuyerReference>{{BT010}}</ram:BuyerReference>
      <ram:SellerTradeParty>
        {{#BT029}}
        <ram:ID>{{.}}</ram:ID>
        {{/BT029}}
        <ram:Name>{{BT027}}</ram:Name>
        <ram:Description>{{BT033}}</ram:Description>
        <ram:SpecifiedLegalOrganization>
          <ram:ID schemeID="0088">{{BT030}}</ram:ID>
          <ram:TradingBusinessName>{{BT028}}</ram:TradingBusinessName>
        </ram:SpecifiedLegalOrganization>
        <ram:DefinedTradeContact>
          <ram:PersonName>{{BT041}}</ram:PersonName>
          <ram:TelephoneUniversalCommunication>
            <ram:CompleteNumber>{{BT042}}</ram:CompleteNumber>
          </ram:TelephoneUniversalCommunication>
          <ram:EmailURIUniversalCommunication>
            <ram:URIID>{{BT043}}</ram:URIID>
          </ram:EmailURIUniversalCommunication>
        </ram:DefinedTradeContact>
        <ram:PostalTradeAddress>
          <ram:PostcodeCode>{{BT038}}</ram:PostcodeCode>
          <ram:LineOne>{{BT035}}</ram:LineOne>
          <ram:LineTwo>{{BT036}}</ram:LineTwo>
          <ram:LineThree>{{BT162}}</ram:LineThree>
          <ram:CityName>{{BT037}}</ram:CityName>
          <ram:CountryID>{{BT040}}</ram:CountryID>
          <ram:CountrySubDivisionName>{{BT039}}</ram:CountrySubDivisionName>
        </ram:PostalTradeAddress>
        <ram:URIUniversalCommunication>
          <ram:URIID schemeID="EM">{{BT034}}</ram:URIID>
        </ram:URIUniversalCommunication>
        <ram:SpecifiedTaxRegistration>
          <ram:ID schemeID="VA">{{BT031}}</ram:ID>
        </ram:SpecifiedTaxRegistration>
        <ram:SpecifiedTaxRegistration>
          <ram:ID schemeID="FC">{{BT032}}</ram:ID>
        </ram:SpecifiedTaxRegistration>
      </ram:SellerTradeParty>
      <ram:BuyerTradeParty>
        <ram:ID>{{BT046}}</ram:ID>
        <ram:Name>{{BT044}}</ram:Name>
        <ram:SpecifiedLegalOrganization>
          <ram:ID schemeID="0204">{{BT047}}</ram:ID>
          <ram:TradingBusinessName>{{BT045}}</ram:TradingBusinessName>
        </ram:SpecifiedLegalOrganization>
        <ram:DefinedTradeContact>
          <ram:PersonName>{{BT056}}</ram:PersonName>
          <ram:TelephoneUniversalCommunication>
            <ram:CompleteNumber>{{BT057}}</ram:CompleteNumber>
          </ram:TelephoneUniversalCommunication>
          <ram:EmailURIUniversalCommunication>
            <ram:URIID>{{BT058}}</ram:URIID>
          </ram:EmailURIUniversalCommunication>
        </ram:DefinedTradeContact>
        <ram:PostalTradeAddress>
          <ram:PostcodeCode>{{BT053}}</ram:PostcodeCode>
          <ram:LineOne>{{BT050}}</ram:LineOne>
          <ram:LineTwo>{{BT051}}</ram:LineTwo>
          <ram:LineThree>{{BT163}}</ram:LineThree>
          <ram:CityName>{{BT052}}</ram:CityName>
          <ram:CountryID>{{BT055}}</ram:CountryID>
          <ram:CountrySubDivisionName>{{BT054}}</ram:CountrySubDivisionName>
        </ram:PostalTradeAddress>
        <ram:URIUniversalCommunication>
          <ram:URIID schemeID="EM">{{BT049}}</ram:URIID>
        </ram:URIUniversalCommunication>
        <ram:SpecifiedTaxRegistration>
          <ram:ID schemeID="VA">{{BT048}}</ram:ID>
        </ram:SpecifiedTaxRegistration>
      </ram:BuyerTradeParty>
      <ram:SellerTaxRepresentativeTradeParty>
        <ram:Name>{{BT062}}</ram:Name>
        <ram:PostalTradeAddress>
          <ram:PostcodeCode>{{BT067}}</ram:PostcodeCode>
          <ram:LineOne>{{BT064}}</ram:LineOne>
          <ram:LineTwo>{{BT065}}</ram:LineTwo>
          <ram:LineThree>{{BT164}}</ram:LineThree>
          <ram:CityName>{{BT066}}</ram:CityName>
          <ram:CountryID>{{BT069}}</ram:CountryID>
          <ram:CountrySubDivisionName>{{BT068}}</ram:CountrySubDivisionName>
        </ram:PostalTradeAddress>
        {{#BT063}}
        <ram:SpecifiedTaxRegistration>
          <ram:ID schemeID="VA">{{.}}</ram:ID>
        </ram:SpecifiedTaxRegistration>
        {{/BT063}}
      </ram:SellerTaxRepresentativeTradeParty>
      {{#BT014}}
      <ram:SellerOrderReferencedDocument>
        <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
      </ram:SellerOrderReferencedDocument>
      {{/BT014}}
      {{#BT013}}
      <ram:BuyerOrderReferencedDocument>
        <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
      </ram:BuyerOrderReferencedDocument>
      {{/BT013}}
      {{#BT012}}
      <ram:ContractReferencedDocument>
        <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
      </ram:ContractReferencedDocument>
      {{/BT012}}

      {{#BG024}}
      <ram:AdditionalReferencedDocument>
        <ram:IssuerAssignedID>{{BT122}}</ram:IssuerAssignedID>
        {{#BT124}}
        <ram:URIID>{{.}}</ram:URIID>
        {{/BT124}}
        <ram:TypeCode>916</ram:TypeCode>
        {{#BT123}}
        <ram:Name>{{.}}</ram:Name>
        {{/BT123}}
        {{#BT125}}
        <ram:AttachmentBinaryObject mimeCode="{{mime}}" filename="{{filename}}">{{base64}}</ram:AttachmentBinaryObject>
        {{/BT125}}
      </ram:AdditionalReferencedDocument>
      {{/BG024}}
      {{#BT017}}
      <ram:AdditionalReferencedDocument>
        <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
        <ram:TypeCode>50</ram:TypeCode>
      </ram:AdditionalReferencedDocument>
      {{/BT017}}
      {{#BT018}}
      <ram:AdditionalReferencedDocument>
        <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
        <ram:TypeCode>130</ram:TypeCode>
      </ram:AdditionalReferencedDocument>
      {{/BT018}}
      {{#BT011}}
      <ram:SpecifiedProcuringProject>
        <ram:ID>{{.}}</ram:ID>
        <ram:Name>Project reference</ram:Name>
      </ram:SpecifiedProcuringProject>
      {{/BT011}}
    </ram:ApplicableHeaderTradeAgreement>
    <ram:ApplicableHeaderTradeDelivery>
      <ram:ShipToTradeParty>
        <ram:ID>{{BT071}}</ram:ID>
        <ram:Name>{{BT070}}</ram:Name>
        <ram:PostalTradeAddress>
          <ram:PostcodeCode>{{BT078}}</ram:PostcodeCode>
          <ram:LineOne>{{BT075}}</ram:LineOne>
          <ram:LineTwo>{{BT076}}</ram:LineTwo>
          <ram:LineThree>{{BT165}}</ram:LineThree>
          <ram:CityName>{{BT077}}</ram:CityName>
          <ram:CountryID>{{BT080}}</ram:CountryID>
          <ram:CountrySubDivisionName>{{BT079}}</ram:CountrySubDivisionName>
        </ram:PostalTradeAddress>
      </ram:ShipToTradeParty>
      <ram:ActualDeliverySupplyChainEvent>
        <ram:OccurrenceDateTime>
          <udt:DateTimeString format="102">{{BT072_CCYYMMDD}}</udt:DateTimeString>
        </ram:OccurrenceDateTime>
      </ram:ActualDeliverySupplyChainEvent>
      {{#BT016}}
      <ram:DespatchAdviceReferencedDocument>
        <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
      </ram:DespatchAdviceReferencedDocument>
      {{/BT016}}
      {{#BT015}}
      <ram:ReceivingAdviceReferencedDocument>
        <ram:IssuerAssignedID>{{.}}</ram:IssuerAssignedID>
      </ram:ReceivingAdviceReferencedDocument>
      {{/BT015}}
    </ram:ApplicableHeaderTradeDelivery>

    <ram:ApplicableHeaderTradeSettlement>
      <ram:PaymentReference>{{BT083}}</ram:PaymentReference>
      <ram:TaxCurrencyCode>{{BT006}}</ram:TaxCurrencyCode>
      <ram:InvoiceCurrencyCode>{{BT005}}</ram:InvoiceCurrencyCode>            
      <ram:PayeeTradeParty>
        <ram:ID>{{BT060}}</ram:ID>
        <ram:Name>{{BT059}}</ram:Name>
        <ram:SpecifiedLegalOrganization>
          <ram:ID>{{BT061}}</ram:ID>
        </ram:SpecifiedLegalOrganization>
      </ram:PayeeTradeParty>
      {{#BG017}}
      <ram:SpecifiedTradeSettlementPaymentMeans>
        <ram:TypeCode>{{BT081}}</ram:TypeCode>
        <ram:Information>{{BT082}}</ram:Information>
        <ram:PayeePartyCreditorFinancialAccount>
          <ram:IBANID>{{BT084}}</ram:IBANID>
          <ram:AccountName>{{BT085}}</ram:AccountName>
        </ram:PayeePartyCreditorFinancialAccount>
        <ram:PayeeSpecifiedCreditorFinancialInstitution>
          <ram:BICID>{{BT086}}</ram:BICID>
        </ram:PayeeSpecifiedCreditorFinancialInstitution>
      </ram:SpecifiedTradeSettlementPaymentMeans>   
      {{/BG017}}
      {{#BG023}}
      <ram:ApplicableTradeTax>
        <ram:CalculatedAmount>{{BT117}}</ram:CalculatedAmount>
        <ram:TypeCode>VAT</ram:TypeCode>
        {{#BT120}}
        <ram:ExemptionReason>{{.}}</ram:ExemptionReason>
        {{/BT120}}
        {{#BT121}}
        <ram:ExemptionReasonCode>{{.}}</ram:ExemptionReasonCode>
        {{/BT121}}
        <ram:BasisAmount>{{BT116}}</ram:BasisAmount>
        <ram:CategoryCode>{{BT118}}</ram:CategoryCode>
        <ram:TaxPointDate>
          <udt:DateString format="102">{{BT007_CCYYMMDD}}</udt:DateString>
        </ram:TaxPointDate>
        <ram:RateApplicablePercent>{{BT119}}</ram:RateApplicablePercent>
      </ram:ApplicableTradeTax>
      {{/BG023}}
      <ram:BillingSpecifiedPeriod>
        <ram:StartDateTime>
          <udt:DateTimeString format="102">{{BT073_CCYYMMDD}}</udt:DateTimeString>
        </ram:StartDateTime>
        <ram:EndDateTime>
          <udt:DateTimeString format="102">{{BT074_CCYYMMDD}}</udt:DateTimeString>
        </ram:EndDateTime>
      </ram:BillingSpecifiedPeriod>
      {{#BG021}}
      <ram:SpecifiedTradeAllowanceCharge>
        <ram:ChargeIndicator>
          <udt:Indicator>true</udt:Indicator>
        </ram:ChargeIndicator>
        <ram:CalculationPercent>{{BT101}}</ram:CalculationPercent>
        <ram:BasisAmount>{{BT100}}</ram:BasisAmount>
        <ram:ActualAmount>{{BT099}}</ram:ActualAmount>
        <ram:ReasonCode>{{BT105}}</ram:ReasonCode>
        <ram:Reason>{{BT104}}</ram:Reason>
        <ram:CategoryTradeTax>
          <ram:TypeCode>VAT</ram:TypeCode>
          <ram:CategoryCode>{{BT102}}</ram:CategoryCode>
          <ram:RateApplicablePercent>{{BT103}}</ram:RateApplicablePercent>
        </ram:CategoryTradeTax>
      </ram:SpecifiedTradeAllowanceCharge>
      {{/BG021}}
      {{#BG020}}
      <ram:SpecifiedTradeAllowanceCharge>
        <ram:ChargeIndicator>
          <udt:Indicator>false</udt:Indicator>
        </ram:ChargeIndicator>
        <ram:CalculationPercent>{{BT094}}</ram:CalculationPercent>
        <ram:BasisAmount>{{BT093}}</ram:BasisAmount>
        <ram:ActualAmount>{{BT092}}</ram:ActualAmount>
        <ram:ReasonCode>{{BT098}}</ram:ReasonCode>
        <ram:Reason>{{BT097}}</ram:Reason>
        <ram:CategoryTradeTax>
          <ram:TypeCode>VAT</ram:TypeCode>
          <ram:CategoryCode>{{BT095}}</ram:CategoryCode>
          <ram:RateApplicablePercent>{{BT096}}</ram:RateApplicablePercent>
        </ram:CategoryTradeTax>
      </ram:SpecifiedTradeAllowanceCharge>
      {{/BG020}}
      <ram:SpecifiedTradePaymentTerms>
        <ram:Description>{{BT020}}</ram:Description>
        <ram:DueDateDateTime>
          <udt:DateTimeString format="102">{{BT009_CCYYMMDD}}</udt:DateTimeString>
        </ram:DueDateDateTime>
      </ram:SpecifiedTradePaymentTerms>
      <ram:SpecifiedTradeSettlementHeaderMonetarySummation>
        <ram:LineTotalAmount>{{BT106}}</ram:LineTotalAmount>
        <ram:ChargeTotalAmount>{{BT108}}</ram:ChargeTotalAmount>
        <ram:AllowanceTotalAmount>{{BT107}}</ram:AllowanceTotalAmount>
        <ram:TaxBasisTotalAmount>{{BT109}}</ram:TaxBasisTotalAmount>
        <ram:TaxTotalAmount currencyID="{{BT005}}">{{BT110}}</ram:TaxTotalAmount>
        <ram:TaxTotalAmount currencyID="{{BT006}}">{{BT111}}</ram:TaxTotalAmount>
        <ram:RoundingAmount>{{BT114}}</ram:RoundingAmount>
        <ram:GrandTotalAmount>{{BT112}}</ram:GrandTotalAmount>
        <ram:TotalPrepaidAmount>{{BT113}}</ram:TotalPrepaidAmount>
        <ram:DuePayableAmount>{{BT115}}</ram:DuePayableAmount>
      </ram:SpecifiedTradeSettlementHeaderMonetarySummation>
      {{#BG003}}
      <ram:InvoiceReferencedDocument>
        <ram:IssuerAssignedID>{{BT025}}</ram:IssuerAssignedID>
        <ram:FormattedIssueDateTime>
          <qdt:DateTimeString format="102">{{BT026_CCYYMMDD}}</qdt:DateTimeString>
        </ram:FormattedIssueDateTime>
      </ram:InvoiceReferencedDocument>
      {{/BG003}}
      {{#BT019}}
      <ram:ReceivableSpecifiedTradeAccountingAccount>
        <ram:ID>{{.}}</ram:ID>
      </ram:ReceivableSpecifiedTradeAccountingAccount>
      {{/BT019}}
    </ram:ApplicableHeaderTradeSettlement>
  </rsm:SupplyChainTradeTransaction>
</rsm:CrossIndustryInvoice>

{{/invoice}}
